# Binaries
# Compiled Object files, Static and Dynamic libraries (Shared Objects)
*.o
*.a
*.so

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project binaries
server
main

# Development
dlv
vendor/
.env

# IDEs
.idea/
.vscode/
*.swp
*.swo

# MacOS
.DS_Store
server_bin
